/* .es-sidebar__tag {
    background: #FFDFCD;
    padding: 2px 12px;
    border-radius: 0 5px 5px 0;
}
.es-similar-case-wrapper {
    background: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
    border-radius: 2px;
    padding: 12px 10px;
    margin-bottom: 20px;
}
.es-similar-case__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.es-similar-case__priority {
    border: 1px solid #000;
    font-size: 8px;
    padding: 3px;
    font-weight: 900;
    margin-right: 10px;
}
.es-similar-case__number {
    font-size: 14px;
    vertical-align: middle;
}
.es-similar-case__info-item {
    display: flex;
    margin-bottom: 15px;
}
.es-similar-case__label {
    flex: 1 0 40%;
    color: #666;
    font-size: 11px;
}
.es-similar-case__value {
    flex: 1 0 60%;
    font-size: 11px;
    font-weight: 600;
}
.es-kb-recommended-wrapper {
    background: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
    border-radius: 2px;
    padding: 12px 10px;
    margin-bottom: 20px;
}
.es-kb-recommended__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
}
.es-kb-recommended__desc {
    font-size: 10px;
    margin-top: 8px;
}
.es-kb-recommended__date {
    font-size: 10px;
    color: #6F6F6F;
}
.es-kb-recommended__info {
    display: flex;
    justify-content: space-between;
}
.es-kb-recommended__tag {
    background: #FFDFCD;
    padding: 2px 12px;
    border-radius: 0 5px 5px 0;
} */