.CSA-content-wrapper {
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
}

.CSA-header h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

.CSA-content-footer {
    text-align: center;
    border-width: 1px;
    box-shadow: none;
}
.CSA-content-footer ul {
    margin: 0;
}