.cCenterPanel {
  min-height: calc(55vh - 70px);
}
.cTitle {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}