.help-in-combo{
    margin-right: 63%;
}

.in-action-button{
    display: flex;
}

.in-title{
    margin-left: 9%;
    margin-right: 6%;
}

.in-category{
    margin-right: 63%;
}

.in-save-button{
    margin-right: 10%;
}

.in-upvote{
    margin-left: 9%;
    margin-right: 73%;
}