.border-fix {
    margin-bottom: -25px;
}

@media screen and (max-width: 768px) {
    .in-anon-videos-container {
        margin: 0 auto;
        width: 92%;
    }

}

.in-anon-videos-title-container {
    margin: 24px 0px;
}

.in-anon-videos-title-container .title{            
    font-weight: 300;
    font-size: 33px;
    font-style: normal;
    white-space: nowrap;    
    color: #373737;
    padding-left: 15px;
    margin-left: 8px;   
}

.in-anon-videos-container .body{ 
    margin-left: 8px;
} 

@media screen and (max-width: 768px) {
    .in-anon-videos-title-container .title{  
        margin-left: 0;
        padding-left: 0;
        font-size: 24px;
    }
    .in-anon-videos-container .body{ 
        margin-left: -10px;
    } 
}

.in-community-name{
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #373737;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
}

.in-community-tile{
    padding: 15px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.12);
}

.in-community-tile:hover {
    background-color: #373737;
}

.in-community-tile:hover .in-community-name {
    color: #ffffff;
}

.right-chev {
    --sds-c-icon-color-foreground-default: #373737;
    margin-top: 15px;
}

.in-anonymous-videos-play-btn{
    position: relative;
    top: 34px;
    left: 26%;
    height: 42px;
    width: 40px !important;
    background: rgba(0, 26, 255, 0.6);
    padding: 12px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .in-anonymous-videos-play-btn{
        top: 75px;
        left: 32%;
    }

}

.in-anonymous-videos-play-btn:hover {
    background: rgba(255, 77, 0, 0.6);
}

.help-anonymous-video{
    height: 112px;
    width: 100%;
}
@media screen and (max-width:768px){
    .help-anonymous-video {
        height: auto;
    }
}

.slds-modal__header{
    padding:0px;
}

.slds-modal__content{
    padding:0px;
    width: fit-content;
}


.in-title-follow{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.parent{
    position: relative;
    top: 0;
    left: 45px;
    height: 0px;
}

.left-space{
    padding-left: 50px;
}

.in-anon-videos-outerModalContent {
    max-width: none;
    position: relative;
    padding: 0;
    width: auto;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .in-anon-videos-outerModalContent {
        justify-content: flex-start;
    }
}

.in-anon-videos-popup {
    overflow: hidden;
}

.in-anon-videos-popup-header {
    border: 0px;
    width: 100%;
    max-width: 800px;
}

.in-anon-videos-close-button {
    top: 5px;
    right: 2px;
}
@media screen and (max-width: 768px){
    .in-anon-videos-close-button {
        right: -10%;
    }
}

.in-anon-discussions-info {
    min-width: 110px;
}

.in-video-modal-iframe {
    width: 800px;
    height: 450px;
}

@media screen and (max-width: 768px) {
    .in-video-modal-iframe {
        width: 100vw;
        height: 234px;
    }
}