.es-chevron-wrapper {
  text-align: center;
  width: 420px;
  margin: 24px 10px 0 10px;
}
.es-btn-grp {
  font-weight: 400;
}
@media only screen and (max-width: 420px) {
  .es-chevron-wrapper {
    width: auto;
  }
  .es-dropdown.es-dropdown--without-arrow {
    padding: 0;
  }
}
.required{
  border:1px solid red;
}
.es-chevron__items {
  border-top: 1px solid #fc4d01;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.es-chevron__item {
  position: relative;
  margin-top: 10px;
  width: 100%;
}
.es-chevron__item a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}
.es-chevron__item:first-child {
  margin-left: -12%;
}
.es-chevron__item:last-child {
  margin-right: -12%;
}
.es-chevron-wrapper--aae .es-chevron__item:first-child {
    margin-left: -23%;
}
.es-chevron-wrapper--aae .es-chevron__item:last-child {
    margin-right: -24%;
}
.es-chevron__item::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  top: -16px;
  left: 50%;
  transform: translatex(-50%);
  border: 1px solid #fc4d01;
  z-index: 1;
}
.es-chevron__item--incomplete::before {
  content: "";
  border-top: 1px solid #dedede;
  position: absolute;
  width: 100px;
  top: -11px;
  /* height: 100px;
  right: 50px; */
  right: 50%;
}
.es-chevron-wrapper--aae  .es-chevron__item--incomplete:before{
    width: 202px;
 }
@media only screen and (max-width: 420px) {
  .es-chevron__item--incomplete::before {
    width: 72px;
  }
}
.es-chevron__item--complete::after {
  background: #fc4d01;
}
.es-chevron__item--current a {
  font-weight: 700;
}
.es-chevron__item--current::after {
  width: 14px;
  height: 14px;
  background: #fc4d01;
  top: -18px;
}
.es-chevron__item--incomplete::after {
  border: 1px solid #dedede;
}
.es-radio {
  padding-top: 10px;
  margin-bottom: 6px;
  /* background: #E3F1FF; */
}
.es-radio input {
  vertical-align: top;
  margin-right: 10px;
  padding: 6px 4px;
}
.es-radio__label {
  font-weight: 400;
}
.es-radio__label-desc {
  font-size: 9px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
/* .slds-modal__container{
    height: 300px;
} */

.es-modal__confirm-msg {
  font-weight: 400;
}
.es-modal__confirm-msg h6 {
  margin-bottom: 10px;
  font-size: 13px;
}
.es-modal__confirm-msg p {
  font-size: 12px;
}

body.modal-open {
  overflow: hidden;
}