.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.padding-top{
    padding-top: 1rem;
} 
.padding-right{
    padding-right: 1rem;
}
.border-bottom-shadow{
    margin-top: 10px;
    border-top: 2px solid #dddbda;
}
.top-component{
    padding-left: 1rem;
    padding-right: 1rem;
}
.modal-height{
    min-height: 300px;
}
.datatable-height{
    min-height: 200px;
    max-height: 400px;
}
.header-font-weight{
    font-weight: 400;
}
.flex-align-center{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-message{
    color: #c23934;
    padding-bottom: 1rem;
}
.slds-scrollable_y{
    height: 400px;
}
.slds-modal__content{
    overflow: initial;
}