.display-frame {
    margin-top: 10px;
    background-color: white;
}

.disabled .templateName {
    color: #9C9C9C;
}

.page-section {
    background-color: white;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    min-height: 50px;
}
.display-frame {
    margin-top: 10px;
    background-color: white;
}

.templateName {
    font-size: medium;
    /* padding-left: 3em; */
    color: black;
    font-weight: 500;
}