.event-create-form lightning-input-rich-text lightning-popup > section{
    left: 0 !important;
}
.event-create-form lightning-input-rich-text .slds-rich-text-editor__textarea .slds-rich-text-area__content{
    min-height: 150px;
}
.event-create-form lightning-datepicker .slds-dropdown-trigger .slds-datepicker .slds-datepicker__filter h2 {
    font-size: 1.2rem;
}