.pad-left{
    padding-left: 0.65rem;
}
.pad-right{
    padding-right: 0.65rem;
}
.pad-top{
    padding-top: 0.25rem;
}
.pad-bottom{
    padding-bottom: 0.20rem;
}
.custom-align{
    text-align: right;
    margin-bottom: -1rem;
}
.custom-col-size-9{
    width: 97%;
}
.custom-col-size-1{
    width: 3%;
}
.pointer{
    cursor: pointer;
}
.custom-label{
    margin-bottom: 0.50rem;
}