/* .THIS .slds-progress-ring__path{
    fill: yellow;
} */

.ring-color {
  fill: #ff7d00;
  box-shadow: 0px 0px 5px #c1c1c1;
}

/* added for PNP-512 */
.ring-color-progress-complete {
  fill: #d2fe2b;
  box-shadow: 0px 0px 5px #c1c1c1;
}

.font {
  font-size: x-small;
  font-weight: 600;
}