/* Tags. */
.tag {
	cursor: pointer;
	margin-right: 5px;
}

/* Container. */
.container {
	text-align: right;
}

/* Animations. */
[data-blink=true] {
	animation: blinker 1s linear infinite;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}